* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#app {
  padding: 40px 30px;
  padding-bottom: 20px;
  width: 450px;
  border-radius: 3px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#quote-container {
  color: black;
  width: 500px;
  height: auto;
  text-align: center;
  font-size: 1.75em;
  font-weight: 500;
  padding: 0 20px;

}

#quote-container>.fa-quote-left {
  position: relative;
  top: -10px;
  right: 5px;
}

#quote-container>.fa-quote-right {
  position: relative;
  bottom: -20px;
  left: 5px;
}

#author {
  padding-top: 20px;
  margin-left: auto;
}



#buttons {
  display: flex;
  width: 450px;
  margin-left: 40px;
  margin-top: 40px;


}

.btn {
  margin-right: 5px;
  height: 40px;
  color: white;
  background-color: black;
  border-radius: 3px;
  margin-top: 40px;

}

a>i {
  margin-top: 8px;
}

.social-media {
  text-align: center;
  font-size: 1.5em;
  width: 50px;

}

#change-quote {
  margin-left: auto;
  margin-right: 40px;
  width: 90px;

}

/* Responsive styles */
@media screen and (max-width: 480px) {

  #app,
  #quote-container,
  #buttons {
    width: 250px;
    padding: 20px;

  }

  #buttons {
    margin-left: 0;
  }


  .btn {
    margin-bottom: 10px;

  }

  #change-quote {
    margin-right: 0;
  }
}